body{
font-family : arial;
background-color : orange;
margin : 0;
}

header{
background-color : yellow;
text-align : center;
padding: 15px;
}

.Content{
background-color : #E6E6FA;
margin : 20px;
padding : 15px;
border-radius : 5px;
}
h2{
color :#003366;
}

footer{
background-color : orange;
text-align : center;
padding : 15px;
}